.main {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: linear-gradient(#2b1055,#7597de);
  overflow: hidden;
}

.main::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #1c0522,transparent);
  z-index: 1000;
}

.main img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

#stars {
  top: -100%;
  height: 100%;
  object-fit: cover;
}

#moon {
  mix-blend-mode: screen;
  transform: scale(1.3);
  top: 15%;
  top: -100%;
}

#mountains_behind {
  bottom: -100%;
  top: initial;
}

#mountains_front {
  top: initial;
  bottom: -120%;
  z-index: 3;
}

.body {
  min-height: 100vh;
  overflow-x: hidden;
  color: #ffffff;
  background: #1c0522;
}

.aboutMe {
  margin-top: 40px;
}

.mainNameHeading {
  font-family: Allura, serif;
  font-size: 150px;
  font-weight: bold;
  text-align: left;
  line-height: 43.2px;
  text-shadow: 1px 1px 3px rgb(88,88,88);
  right: 2000px;
  position: relative;
}

.mainNameDiv {
  width: 30%;
  position: relative;
  height: 200px;
  padding-top: 50px;
  z-index: 2;
  top: 30%;
}

.mainNameHeading2 {
  text-align: right;
  font-family: Poppins, sans-serif;
  padding: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  right: -1000px;
  position: relative;
  text-shadow: 1px 1px 3px rgb(88,88,88);
}

.mainNameContainer {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

